{% extends 'UvmediaCoreBundle::layout.html.twig' %}
{% block body_content %}
{% if error %}
<div>{{ error.message }}</div>
{% endif %}
<div>
    <form action="{{ path('UsuariosBundle_login_check') }}" method="post" {{ form_enctype(form) }}>
        {#{ form_widget(form) }#}
        <div>
            <label for="_username">Login:</label>
            <input type="text" name="_username" id="_username" />
        </div>
        <div>
            <label for="_password">Contrase&ntilde;a:</label>
            <input type="password" name="_password" id="_password" />
        </div>
        <button type="submit">Ingresar</button>
    </form>
</div>
{% endblock %}