<!DOCTYPE html>
<html>
<head>
{% block meta_tags %}{% endblock %}
    <title>{% block title %}Universidad del Valle{% endblock %}</title>
    {% block stylesheets %}
    <link href="{{ asset('bundles/uvmediacore/css/jquery-ui-1.8.23.custom.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    {% javascripts '@UvmediaCoreBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
</head>
<body>
    {% block encabezado %}
        {% include 'UvmediaCoreBundle::header.html.twig' with {'titulo': titulo|default('Universidad del Valle')} %}
    {% endblock %}
    {% block body %}
        {% block menu %}
            {% include 'UvmediaCoreBundle::menu.html.twig' with {'menu': menu|default(null)} %}
        {% endblock %}
    {% endblock %}
    {% block pie %}
    {% include 'UvmediaCoreBundle::footer.html.twig' %}
    {% endblock %}
    {% block javascript %}{% endblock %}
</body>
</html>

