{# Este template se emplea para tabular los resultados en una tabla #}
{# Los parametros marcados con * son obligatorios #}
{# *parametros: array(nombre_campo => parametro_entidad) encabezado y parametros que se quieren listar #}
{#     nombre_campo es el encabezado de la columna ("Nombre de ...") #}
{#     parametro_entidad es el nombre del parametro de la entidad ("Nombre de ...") #}
{# *entidad: ArrayCollection el contenido de la tabla #}
{# nombre_id_entidad: String el nombre como se conoce el id de la entidad #}
{# nombre_id_ruta: String el nombre como se conoce el id de la entidad en el route #}
{# *enlaces: array(editar, eliminar) son los routes para las acciones #}
<table class="records_list">
    <thead>
        <tr>
        {% for nombrecampo,parametro in parametros %}
            <th>{{ nombrecampo }}</th>
        {% endfor %}
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entidad %}
        <tr>
        {% for parametro in parametros %}
            <td>{{ entity.get(parametro) }}</td>
        {% endfor %}
            <td><a href="{{ path(enlaces['editar'], { nombre_id_ruta|'id' : entity.get(nombre_id_entidad|'id') }) }}">Editar</a></td>
            <td><a href="{{ path(enlaces['eliminar'], { nombre_id_ruta|'id' : entity.get(nombre_id_entidad|'id') }) }}">Eliminar</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>