<div id="encabezamiento">
<div id="titulo">
    <a href="http://www.univalle.edu.co"><span>Universidad del Valle</span></a>
</div>
<div id="barra-facultades">
    <a href="http://www.univalle.edu.co/busquedas.html"><span>Buscar</span></a>
    <a href="http://www.univalle.edu.co/directorio"><span>Directorio</span></a>
    <a href="http://biblioteca.univalle.edu.co/"><span>Biblioteca</span></a>
</div>
<div id="navegacion"><a href="#">Facultades y Dependencias</a> / <a href="#">Facultad de Salud</a></div>
<h1>{{ titulo }}</h1>
</div>