<ul class="menu">
<!-- Ejemplo de construccion de menu -->
    <li class="menu_selected">
        <a href="#">Item 1</a>
    </li>
    <li class="menu_normal">
        <a href="#">Item 2</a>
        <ul class="submenu">
            <li>
                <a href="subitem">Sub 1</a>
            </li>
            <li>
                <a href="subitem">Sub 2</a>
            </li>
        </ul>
    </li>
</ul>