{% extends 'MenuBundle::layout.html.twig' %}
{% block body_content %} 
<table>
<tr>
    <th>Nombre</th>
    <th>Enlace</th>
    <th>Padre</th>
</tr>
{% for item_menu in lista_menues %}
<tr>
<td>{{ item_menu.meiNombre }}</td>
<td>{{ item_menu.meiEnlace }}</td>
<td>{{ item_menu.meiParent.meiNombre|default('void') }}</td>
</tr>
{% else %}
<tr><td colspan="3">No hay resultados</td></tr>
{% endfor %}
</table>
<div><a href="{{path('MenuBundle_nuevo')}}">Crear nuevo</a></div>
{% endblock %}